body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input{
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #e5e5ea;
  outline: none;
  text-align: center;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}

::placeholder {
  color: black;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}